{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Login</h2>
    {% if messages %}
      {% for m in messages %}
        <div class="alert alert-{{ m.tags }}">{{ m }}</div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" name="password" type="password" required>
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
      <hr />
      <p>New here? <a href="{% url 'accounts:register_user' %}">Register as a user</a></p>
      <p>Are you a worker? <a href="{% url 'accounts:register_worker' %}">Register as a worker</a></p>
  </div>
</div>
{% endblock %}
